.picture {
    width: 300px;
    display: block;
    margin: 0 auto;

}
img {
    max-width: 300px;
}
nav .rectangle {
    display: block;
    justify-content: center;

}
body {

    font-family: 'Playfair Display', serif;
    margin: 0;
    color: white;
    font-weight: 100;
    text-align: center;
}

header {
    text-align: center;
    color:rgb(81, 150, 196);
    font-family: 'Scheherazade New', serif;
    padding: 2rem;
}


nav a {
    color: rgb(81, 150, 196);
    font-weight: 300;
    margin: 0 auto;
    font-family: 'Oswald', serif;
    text-align: center;
    width: 500px;
    height: 100px;
    background: rgb(224, 230, 236);
     display: grid;
     place-items: center;
     justify-content: center;
}

nav a:hover {
    color:rgb(216, 189, 223);
}



section p {
    margin: 0;
    padding: .5rem;
}

footer {
    background: rgb(81, 150, 196);
}

footer p {
    margin: 0;
    font-family: 'Scheherazade New', serif;
    text-align:center;
}